  <section class="main-content">
    <gx-card
      #ViewAnyiOS
      [showHeader]='showAsCard'
      [showBorder]='showAsCard'
      [showFooter]='showAsCard'
      *ngIf="viewManager.view === 'ViewAnyiOS'"
      class="ApplicationBars"
    >
      <div slot="body" *ngIf="viewManager.view === 'ViewAnyiOS'">
          <gx-table
            #ctrlMaintable
            ngClass='Table'
            areas-template="'cell00 ' "
            columns-template="1fr"
            rows-template="minmax(min-content, 1fr)"
            invisible-mode="keep-space"
          >
            <gx-table-cell 
              area="cell00"
               overflow-mode="scroll"
              align="left" valign="top"
               
            >
              <gx-grid-fs
                 #ctrlGrid1 
                 ngClass='Grid'
                 invisible-mode="keep-space"
                 [loadingState]='this.uiModel._ctrlGrid1Items.loadingState || false'    
                 [recordCount]="this.WorkWithDevicesContact_Contact_Section_Meeting_Grid1_collection.length"
                >
                  <virtual-scroller 
                        #ctrlGrid1_VScroll
                        [bufferAmount]="6" 
                        slot="grid-content"
                        [items]="this.ctrlGrid1Controller.gridData$ | async">
                    <ng-container  *ngFor="let ctrlGrid1Item of ctrlGrid1_VScroll.viewPortItems; trackBy:this.ctrlGrid1Controller.identify" >
                         <gx-table
                           #ctrlGrid1table
                           ngClass='TableTableGrid'
                           class="gx-grid-row"
                           areas-template="'cell00 ' "
                           columns-template="1fr"
                           rows-template="var(--gx-table-row-autogrow)"
                            style="min-height: 44px; "
                           invisible-mode="keep-space"
                           (click)=" this.ctrlGrid1SetContext(ctrlGrid1Item.gxIndex); ctrlGrid1Action( ctrlGrid1Item.gxIndex, this._GridSelect); $event.stopPropagation()"
                           data-has-action=""

                         >
                           <gx-table-cell 
                             area="cell00"
                              overflow-mode="clip"
                             align="left" valign="top"
                              min-height="44px"
                           >
                               <gx-table
                                 #ctrlTable2
                                 ngClass='TableTableGrid'
                                 areas-template="'cell00 ' "
                                 columns-template="1fr"
                                 rows-template="minmax(min-content, 44px)"
                                  style="min-height: 44px; "
                                 invisible-mode="keep-space"
                               >
                                 <gx-table-cell 
                                   area="cell00"
                                    overflow-mode="clip"
                                   align="left" valign="middle"
                                   max-height="44px" min-height="44px"
                                 >
                                     <gx-edit
                                       #ctrlMeetingtitle
                                       name="ctrlMeetingtitle"
                                       ngClass='AttributeTitle'
                                       invisible-mode="keep-space"

                                       type="text"
                                       placeholder="Meeting Title"

                                       [ngModel]="ctrlGrid1Item.MeetingTitle"
                                       ngDefaultControl
                                       [attr.readonly]="(true || (this.Mode == 'DLT'))"
                                       line-clamp
                                       area="field"
                                     >
                                     </gx-edit>


                                 </gx-table-cell>


                               </gx-table>

                           </gx-table-cell>


                         </gx-table>
                        
                     </ng-container>
                    <gx-grid-infinite-scroll
                                 threshold="150px"
                                 viewport-selector="virtual-scroller"
                                 [itemCount]="this.WorkWithDevicesContact_Contact_Section_Meeting_Grid1_collection.length" (gxInfinite)="this.fetchNextPagectrlGrid1($event)">
                             <gx-grid-infinite-scroll-content>
                                <div>
                                  <span class="gx-loading-text">{{translate("GXM_Loading")}}</span>
                                </div>
                             </gx-grid-infinite-scroll-content>
                    </gx-grid-infinite-scroll>
                  </virtual-scroller>

                <div slot="grid-empty-loading-placeholder">
                  <span class="gx-loading-text">{{translate("GXM_Loading")}}</span>
                </div>
                <div slot="grid-content-empty">
                  <gx-grid-empty-indicator
                    >
                  </gx-grid-empty-indicator>  
                </div>
              </gx-grid-fs>

            </gx-table-cell>


          </gx-table>

      </div>
    </gx-card>
  </section>
