@if (__viewManager.view === 'ViewAnyWebScreen') {
<gx-card
  #ViewAnyWebScreen id="ViewAnyWebScreen"
  [showHeader]='__showAsCard'
>
  @if(__showAsCard) {
  <gx-card-header
    slot="header"
    [cssClass]="state.uiModel.ctrlApplicationbar.class | default:'ApplicationBars' | classSplit">
    <li slot="normal-priority-action" role="listitem">
      <gx-button
        #ctrlBtninsert
        [accessibleName]="'GXM_insert' | translate"
        [cssClass]="state.uiModel.ctrlBtninsert.class | default:'Button button-primary' | classSplit"
        caption="{{state.uiModel.ctrlBtninsert.caption | default:translate('GXM_insert')}}"
        [hidden]="state.uiModel.ctrlBtninsert?.visible | not"
        [disabled]="(__actionsEnabled && state.uiModel.ctrlBtninsert?.enabled) | not"
        (click)="this._Insert(); $event.stopPropagation()"
      >
      </gx-button>
    </li>
  </gx-card-header>
  }
  <gx-table
    #ctrlMaintable
    [cssClass]="'GridContainer' | classSplit"
    areas-template="'cell00 ' "
    columns-template="1fr"
    rows-template="minmax(min-content, 1fr)"
    invisible-mode="keep-space"
    slot="body"
  >
    <gx-table-cell
      area="cell00"
      auto-grow
    >
      <ch-grid
          #ctrlGridmeeting id="ctrlGridmeeting"
          [ngClass]="'Grid card inset-m' | classSplit"
          (rowClicked)="ctrlGridmeetingRowClicked($event.detail, this._GridSelect);"

          (refreshClicked)="ctrlGridmeetingPageRefresh(); $event.stopPropagation()"
          (pageNavigationRequested)="ctrlGridmeetingPageNavigate($event.detail.type, $event.detail.page); $event.stopPropagation()"

          [keyboardNavigationMode]="'focus'"
          [rowSelectionMode]="'single'"
          [rowSelectedClass]="'Grid card inset-m' | classToGxClass:['gridSelectedRow']"
          [rowHighlightedClass]="'Grid card inset-m' | classToGxClass:['gridHoverRow']"
          [rowFocusedClass]="'Grid card inset-m' | classToGxClass:['gridFocusedRow']"
      >
          <ch-grid-columnset
              [ngClass]="'Grid card inset-m' | classToGxClass:['gridHeaderRow']"
          >
              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Meeting Id' | translate"
                  [columnTooltip]="'Meeting Id' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Date' | translate"
                  [columnTooltip]="'Date' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Meeting Title' | translate"
                  [columnTooltip]="'' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="auto"
                  hideable="false"
                  resizable="false"
                  sortable="false"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'ID' | translate"
                  [columnTooltip]="'ID' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Company' | translate"
                  [columnTooltip]="'Company' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Contact Id' | translate"
                  [columnTooltip]="'Contact Id' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Contact' | translate"
                  [columnTooltip]="'Contact' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Notes' | translate"
                  [columnTooltip]="'Notes' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Place' | translate"
                  [columnTooltip]="'Place' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

              <ch-grid-column
                  [columnType]="'plain'"
                  [columnName]="'Address' | translate"
                  [columnTooltip]="'Address' | translate"
                  [columnNameHidden]="true | not"
                  [ngClass]="['grid-column', 'grid-column' | classToGxClass:['gridColumnHeader']]"
                  [displayObserverClass]="'grid-column' | classToGxClass:['gridColumnHidden']"
                  size="max-content"
                  hideable="true"
                  resizable="true"
                  sortable="true"
                  settingable="false"
                  [richRowSelector]="false"
              >
              </ch-grid-column>

          </ch-grid-columnset>

           @for (ctrlGridmeetingItem of ctrlGridmeetingController.gridData | collectionSlice:state.uiModel._ctrlGridmeetingItems.startRecordPage:state.uiModel._ctrlGridmeetingItems.endRecordPage;track ctrlGridmeetingController.identify ) {
               <ch-grid-row
                   [ngClass]="'Grid card inset-m' | classToGxClass:['gridRow',!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']"
                   [attr.rowid]="ctrlGridmeetingItem['_gxIndex']"
                   [selected]="state.uiModel._ctrlGridmeetingItems[ctrlGridmeetingItem['_gxIndex']].Selected"
               >
                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlMeetingid id="ctrlMeetingid"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="text"
                           max-length="4"
                           mode="numeric"
                           [picture]="'ZZZ9'"
                           placeholder=""
                           [ngModel]="ctrlGridmeetingItem.MeetingId"
                           ngDefaultControl
                           [attr.readonly]="((true || (state.localModel.Mode == 'DLT')) || (state.localModel.Mode == 'UPD'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlMeetingdate id="ctrlMeetingdate"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="datetime-local"

                           placeholder=""
                           [ngModel]="ctrlGridmeetingItem.MeetingDate | datetimeToISOString"
                           ngDefaultControl
                           [attr.readonly]="(true || (state.localModel.Mode == 'DLT'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlMeetingtitle id="ctrlMeetingtitle"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="text"
                           max-length="100"

                           placeholder=""
                           [ngModel]="ctrlGridmeetingItem.MeetingTitle"
                           ngDefaultControl
                           [attr.readonly]="(true || (state.localModel.Mode == 'DLT'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlCompanyid id="ctrlCompanyid"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="text"
                           max-length="4"
                           mode="numeric"

                           placeholder=""
                           [ngModel]="state.localModel.CompanyId"
                           ngDefaultControl
                           [attr.readonly]="((true || (state.localModel.Mode == 'DLT')) || (state.localModel.Mode == 'UPD'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlCompanyname id="ctrlCompanyname"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="text"
                           max-length="20"

                           placeholder=""
                           [ngModel]="ctrlGridmeetingItem.CompanyName"
                           ngDefaultControl
                           [attr.readonly]="(true || (state.localModel.Mode == 'DLT'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlContactid id="ctrlContactid"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="text"
                           max-length="4"
                           mode="numeric"

                           placeholder=""
                           [ngModel]="state.localModel.ContactId"
                           ngDefaultControl
                           [attr.readonly]="((true || (state.localModel.Mode == 'DLT')) || (state.localModel.Mode == 'UPD'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlContactname id="ctrlContactname"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="text"
                           max-length="20"

                           placeholder=""
                           [ngModel]="ctrlGridmeetingItem.ContactName"
                           ngDefaultControl
                           [attr.readonly]="(true || (state.localModel.Mode == 'DLT'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlMeetingnote id="ctrlMeetingnote"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="text"
                           multiline

                           placeholder=""
                           [ngModel]="ctrlGridmeetingItem.MeetingNote"
                           ngDefaultControl
                           [attr.readonly]="(true || (state.localModel.Mode == 'DLT'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-geolocation
                           #ctrlMeetinggeolocation id="ctrlMeetinggeolocation"
                           [coords]="ctrlGridmeetingItem.MeetingGeolocation"
                           [readonly]="true"
                           (onGeolocationChanged) = "ctrlGridmeetingItem.MeetingGeolocation = $event;"
                           area="field"
                         >
                         </gx-geolocation>
                       </gx-form-field>
                   </ch-grid-cell>

                   <ch-grid-cell
                       [ngClass]="[
                           'Grid card inset-m' | classToGxClass:['gridColumn'],
                           'grid-column',
                           'grid-column' | classToGxClass:[!(ctrlGridmeetingItem['_gxIndex'] % 2 === 0) ? 'gridEvenRow': 'gridOddRow']
                       ]"
                   >
                       <gx-form-field
                         [cssClass]="'Attribute' | classSplit"
                         invisible-mode="collapse"
                         label-position="none"
                       >
                         <gx-edit
                           #ctrlMeetingaddress id="ctrlMeetingaddress"
                           area="field"
                           [cssClass]="'Attribute' | classSplit"
                           line-clamp
                           type="text"
                           max-length="1024"

                           placeholder=""
                           [ngModel]="ctrlGridmeetingItem.MeetingAddress"
                           ngDefaultControl
                           [attr.readonly]="(true || (state.localModel.Mode == 'DLT'))"
                         >
                         </gx-edit>

                       </gx-form-field>
                   </ch-grid-cell>

               </ch-grid-row>
           }

          <ch-grid-actionbar slot="footer">
              <ch-grid-action-refresh>{{'GX_BtnRefresh' | translate}}</ch-grid-action-refresh>
              <ch-grid-action-settings>{{ "GXM_Settings" | translate }}</ch-grid-action-settings>
          </ch-grid-actionbar>

          <ch-paginator
              slot="footer"
              [activePage]="state.uiModel._ctrlGridmeetingItems.currentPage"
              [totalPages]="state.uiModel._ctrlGridmeetingItems.totalPages"
              [hasNextPage]="state.uiModel._ctrlGridmeetingItems.hasNextPage"
          >
              <ch-paginator-navigate type="first">{{ "GXM_first" | translate }}</ch-paginator-navigate>
              <ch-paginator-navigate type="previous">{{ "GXM_previous" | translate }}</ch-paginator-navigate>
              @if (state.uiModel._ctrlGridmeetingItems.recordCountSupported) {
              <ch-paginator-pages></ch-paginator-pages>
              }
              <ch-paginator-navigate type="next">{{ "GXM_next" | translate }}</ch-paginator-navigate>
              @if (state.uiModel._ctrlGridmeetingItems.recordCountSupported) {
              <ch-paginator-navigate type="last">
                  {{ "GXM_last" | translate }}
              </ch-paginator-navigate>
              }
          </ch-paginator>

      </ch-grid>
    </gx-table-cell>
  </gx-table>
</gx-card>
}