@import  "../../node_modules/@genexus/web-controls-library/dist/theming/theming-mixins";
@import  "./common";

@mixin transform-Rotate {
	transform-origin: center center;
}
@mixin transform-fuera {
	transform-origin: center center;
}
@mixin transform-normal {
	transform-origin: center center;
}

%BaseForm {
	enter-effect: gx_default;


	close-effect: gx_default;


	call-type: gx_default;


	target-size: gx_default;


	target-width: 100%;


	target-height: 100%;


	content-size-change: gx_default;


	input-view-appearance: gx_default;



}

%CustomVars_Form {
}

.Form {
	// No mixin available for this class at the moment
	@extend %BaseForm !optional;

	@extend %CustomVars_Form !optional;
}


%BaseButton {
	text-transform: uppercase;
}

%CustomVars_Button {
}

.Button {
	@include gx-button( 
		$class: "%BaseButton"
	);
	@extend %CustomVars_Button !optional;
}

%BaseButtonSectionLink {
	@extend %BaseButton !optional;
	text-transform: uppercase;
}

%CustomVars_ButtonSectionLink {
}

.ButtonSectionLink {
	@extend %CustomVars_Button !optional;
	@include gx-button( 
		$class: "%BaseButtonSectionLink"
	);
	@extend %CustomVars_ButtonSectionLink !optional;
}


%BaseButtonDelete {
	@extend %BaseButton !optional;
	background-color: #0000FF;


	text-transform: uppercase;
}

%CustomVars_ButtonDelete {
}

.ButtonDelete {
	@extend %CustomVars_Button !optional;
	@include gx-button( 
		$class: "%BaseButtonDelete"
	);
	@extend %CustomVars_ButtonDelete !optional;
}


%BaseConfirmButton {
	@extend %BaseButton !optional;
	border-style: solid;


	border-color: #B80545;


	border-width: 1px;


	color: #B80545;


	text-transform: uppercase;
}

%CustomVars_ConfirmButton {
--margin-top: 10px;--margin-right: 10px;
}

.ConfirmButton {
	@extend %CustomVars_Button !optional;
	@include gx-button( 
		$class: "%BaseConfirmButton"
	);
	@extend %CustomVars_ConfirmButton !optional;
}


%BaseButtonActionBar {
	@extend %BaseButton !optional;
	color: #FFFFFF;


	text-transform: uppercase;
}

%CustomVars_ButtonActionBar {
}

.ButtonActionBar {
	@extend %CustomVars_Button !optional;
	@include gx-button( 
		$class: "%BaseButtonActionBar"
	);
	@extend %CustomVars_ButtonActionBar !optional;
}


%BaseMenu {
}

%CustomVars_Menu {
}

.Menu {
	// No mixin available for this class at the moment
	@extend %BaseMenu !optional;

	@extend %CustomVars_Menu !optional;
}


%BaseGrid {
	padding-left: 0px;


	background-size: 100% 100%;



}

%CustomVars_Grid {
--grid--horizontal-line-separator: var(--grid--horizontal-line-separator-default);

}

.Grid {
	@include gx-grid-base( 
		$class: "%BaseGrid", 
		$horizontal-line: ".WWLineSeparator"
	, 
		$odd-row: ".GridRowOdd"
	, 
		$even-row: ".GridRowEven"

	);
	@extend %CustomVars_Grid !optional;
}


%BaseGroup {
	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_Group {
}

.Group {
	@include gx-group( 
		$class: "%BaseGroup"
	);
	@extend %CustomVars_Group !optional;
}


%BaseGroupSeparator {
}

%CustomVars_GroupSeparator {
}

.GroupSeparator {
	// No mixin available for this class at the moment
	@extend %BaseGroupSeparator !optional;

	@extend %CustomVars_GroupSeparator !optional;
}


%BaseTable {
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_Table {
--table--horizontal-line-separator: none;

}

.Table {
	@include gx-table( 
		$class: "%BaseTable"
	);
	@extend %CustomVars_Table !optional;
}

%BaseTableDetail {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableDetail {
--table--horizontal-line-separator: none;

}

.TableDetail {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableDetail"
	);
	@extend %CustomVars_TableDetail !optional;
}


%BaseTableTableGrid {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableTableGrid {
--table--horizontal-line-separator: none;

}

.TableTableGrid {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableTableGrid"
	);
	@extend %CustomVars_TableTableGrid !optional;
}


%BaseTableImageTable {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableImageTable {
--table--horizontal-line-separator: none;

}

.TableImageTable {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableImageTable"
	);
	@extend %CustomVars_TableImageTable !optional;
}


%BaseTableDetailHeader {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableDetailHeader {
--table--horizontal-line-separator: none;

}

.TableDetailHeader {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableDetailHeader"
	);
	@extend %CustomVars_TableDetailHeader !optional;
}


%BaseTableSectionPadding {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableSectionPadding {
--table--horizontal-line-separator: none;

}

.TableSectionPadding {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableSectionPadding"
	);
	@extend %CustomVars_TableSectionPadding !optional;
}


%BaseTableContactName {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableContactName {
--table--horizontal-line-separator: none;

}

.TableContactName {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableContactName"
	);
	@extend %CustomVars_TableContactName !optional;
}


%BaseTableContact {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableContact {
--table--horizontal-line-separator: none;

}

.TableContact {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableContact"
	);
	@extend %CustomVars_TableContact !optional;
}


%BaseTableRecycleBin {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableRecycleBin {
--table--horizontal-line-separator: none;

}

.TableRecycleBin {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableRecycleBin"
	);
	@extend %CustomVars_TableRecycleBin !optional;
}

%BaseTableRecycleBinAcceptDrag {
	@extend %BaseTableRecycleBin !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableRecycleBinAcceptDrag {
--table--horizontal-line-separator: none;

}

.TableRecycleBinAcceptDrag {
	@extend %CustomVars_TableRecycleBin !optional;
	@include gx-table( 
		$class: "%BaseTableRecycleBinAcceptDrag"
	);
	@extend %CustomVars_TableRecycleBinAcceptDrag !optional;
}


%BaseTableRecycleBinVisible {
	@extend %BaseTableRecycleBin !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableRecycleBinVisible {
--table--horizontal-line-separator: none;

}

.TableRecycleBinVisible {
	@extend %CustomVars_TableRecycleBin !optional;
	@include gx-table( 
		$class: "%BaseTableRecycleBinVisible"
	);
	@extend %CustomVars_TableRecycleBinVisible !optional;
}


%BaseTableRecycleBinOver {
	@extend %BaseTableRecycleBin !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableRecycleBinOver {
--table--horizontal-line-separator: none;

}

.TableRecycleBinOver {
	@extend %CustomVars_TableRecycleBin !optional;
	@include gx-table( 
		$class: "%BaseTableRecycleBinOver"
	);
	@extend %CustomVars_TableRecycleBinOver !optional;
}


%BaseTableTable1 {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableTable1 {
--table--horizontal-line-separator: none;

}

.TableTable1 {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableTable1"
	);
	@extend %CustomVars_TableTable1 !optional;
}


%BaseMatrixCell {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_MatrixCell {
--table--horizontal-line-separator: none;

}

.MatrixCell {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseMatrixCell"
	);
	@extend %CustomVars_MatrixCell !optional;
}


%BaseMatrixSelectedCell {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_MatrixSelectedCell {
--table--horizontal-line-separator: none;

}

.MatrixSelectedCell {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseMatrixSelectedCell"
	);
	@extend %CustomVars_MatrixSelectedCell !optional;
}


%BaseMatrixAxisTable {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_MatrixAxisTable {
--table--horizontal-line-separator: none;

}

.MatrixAxisTable {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseMatrixAxisTable"
	);
	@extend %CustomVars_MatrixAxisTable !optional;
}


%BaseMatrixEvenRowTable {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_MatrixEvenRowTable {
--table--horizontal-line-separator: none;

}

.MatrixEvenRowTable {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseMatrixEvenRowTable"
	);
	@extend %CustomVars_MatrixEvenRowTable !optional;
}


%BaseMatrixOddRowTable {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_MatrixOddRowTable {
--table--horizontal-line-separator: none;

}

.MatrixOddRowTable {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseMatrixOddRowTable"
	);
	@extend %CustomVars_MatrixOddRowTable !optional;
}


%BaseMatrixSelectedRowTable {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_MatrixSelectedRowTable {
--table--horizontal-line-separator: none;

}

.MatrixSelectedRowTable {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseMatrixSelectedRowTable"
	);
	@extend %CustomVars_MatrixSelectedRowTable !optional;
}


%BaseTableDrag {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableDrag {
--table--horizontal-line-separator: none;

}

.TableDrag {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableDrag"
	);
	@extend %CustomVars_TableDrag !optional;
}


%BaseTableTransparent {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableTransparent {
--table--horizontal-line-separator: none;

}

.TableTransparent {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableTransparent"
	);
	@extend %CustomVars_TableTransparent !optional;
}


%BaseGridContainer {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_GridContainer {
--table--horizontal-line-separator: none;

}

.GridContainer {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseGridContainer"
	);
	@extend %CustomVars_GridContainer !optional;
}


%BaseMainTable {
	@extend %BaseTable !optional;
	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_MainTable {
--table--horizontal-line-separator: none;

}

.MainTable {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseMainTable"
	);
	@extend %CustomVars_MainTable !optional;
}


%BaseTableSection {
	@extend %BaseTable !optional;
	padding-left: 10px;


	padding-top: 15px;


	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableSection {
--table--horizontal-line-separator: var(--grid--horizontal-line-separator-default);

}

.TableSection {
	@extend %CustomVars_Table !optional;
	@include gx-table( 
		$class: "%BaseTableSection", 
		$horizontal-line: ".WWLineSeparator"

	);
	@extend %CustomVars_TableSection !optional;
}

%BaseTableSectioninsert {
	@extend %BaseTableSection !optional;
	padding-top: 15px;


	background-color: #FFFFFF;


	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_TableSectioninsert {
--table--horizontal-line-separator: var(--grid--horizontal-line-separator-default);

}

.TableSectioninsert {
	@extend %CustomVars_TableSection !optional;
	@include gx-table( 
		$class: "%BaseTableSectioninsert", 
		$horizontal-line: ".WWLineSeparator"

	);
	@extend %CustomVars_TableSectioninsert !optional;
}


%BaseTextBlock {
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlock {
}

.TextBlock {
	@include gx-textblock( 
		$class: "%BaseTextBlock"
	);
	@extend %CustomVars_TextBlock !optional;
}

%BaseTextBlockTitle {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 18px;


	color: #2A3143;



}

%CustomVars_TextBlockTitle {
}

.TextBlockTitle {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockTitle"
	);
	@extend %CustomVars_TextBlockTitle !optional;
}

%BaseAttributeTitleLabelPositioning {
	@extend %BaseTextBlockTitle !optional;
	align:left; 
}

%CustomVars_AttributeTitleLabelPositioning {
}

.AttributeTitleLabelPositioning {
	@extend %CustomVars_TextBlockTitle !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeTitleLabelPositioning"
	);
	@extend %CustomVars_AttributeTitleLabelPositioning !optional;
}


%BaseAttributeTitleWhiteLabelPositioning {
	@extend %BaseTextBlockTitle !optional;
	align:left; 
}

%CustomVars_AttributeTitleWhiteLabelPositioning {
}

.AttributeTitleWhiteLabelPositioning {
	@extend %CustomVars_TextBlockTitle !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeTitleWhiteLabelPositioning"
	);
	@extend %CustomVars_AttributeTitleWhiteLabelPositioning !optional;
}


%BaseTextBlockSubtitle {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockSubtitle {
}

.TextBlockSubtitle {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockSubtitle"
	);
	@extend %CustomVars_TextBlockSubtitle !optional;
}

%BaseAttributeSubtitleLabelPositioning {
	@extend %BaseTextBlockSubtitle !optional;
	align:left; 
}

%CustomVars_AttributeSubtitleLabelPositioning {
}

.AttributeSubtitleLabelPositioning {
	@extend %CustomVars_TextBlockSubtitle !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeSubtitleLabelPositioning"
	);
	@extend %CustomVars_AttributeSubtitleLabelPositioning !optional;
}


%BaseTextBlockLabel {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockLabel {
}

.TextBlockLabel {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockLabel"
	);
	@extend %CustomVars_TextBlockLabel !optional;
}


%BaseTextBlockGroupCaption {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockGroupCaption {
}

.TextBlockGroupCaption {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockGroupCaption"
	);
	@extend %CustomVars_TextBlockGroupCaption !optional;
}


%BaseTextBlockBlanco {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockBlanco {
}

.TextBlockBlanco {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockBlanco"
	);
	@extend %CustomVars_TextBlockBlanco !optional;
}


%BaseTextBlockApplicationTitle {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockApplicationTitle {
}

.TextBlockApplicationTitle {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockApplicationTitle"
	);
	@extend %CustomVars_TextBlockApplicationTitle !optional;
}


%BaseTextBlockBackButton {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockBackButton {
}

.TextBlockBackButton {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockBackButton"
	);
	@extend %CustomVars_TextBlockBackButton !optional;
}


%BaseTextBlockSectionTitle {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockSectionTitle {
}

.TextBlockSectionTitle {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockSectionTitle"
	);
	@extend %CustomVars_TextBlockSectionTitle !optional;
}


%BaseTextBlockBigFont {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockBigFont {
}

.TextBlockBigFont {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockBigFont"
	);
	@extend %CustomVars_TextBlockBigFont !optional;
}


%BaseTextBlockTransp {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_TextBlockTransp {
}

.TextBlockTransp {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseTextBlockTransp"
	);
	@extend %CustomVars_TextBlockTransp !optional;
}


%Baseslider {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	background-color: #B80545;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_slider {
}

.slider {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%Baseslider"
	);
	@extend %CustomVars_slider !optional;
}


%BaseAttributeLabel {
	@extend %BaseTextBlock !optional;
	margin-left: 0px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_AttributeLabel {
}

.AttributeLabel {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeLabel"
	);
	@extend %CustomVars_AttributeLabel !optional;
}

%BaseAttributeLabelPositioning {
	@extend %BaseAttributeLabel !optional;
	align:left; 
}

%CustomVars_AttributeLabelPositioning {
}

.AttributeLabelPositioning {
	@extend %CustomVars_AttributeLabel !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeLabelPositioning"
	);
	@extend %CustomVars_AttributeLabelPositioning !optional;
}


%BaseAttributeTitleDetailLabelPositioning {
	@extend %BaseAttributeLabel !optional;
	align:left; 
}

%CustomVars_AttributeTitleDetailLabelPositioning {
}

.AttributeTitleDetailLabelPositioning {
	@extend %CustomVars_AttributeLabel !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeTitleDetailLabelPositioning"
	);
	@extend %CustomVars_AttributeTitleDetailLabelPositioning !optional;
}


%BaseAttributeWhiteLabelPositioning {
	@extend %BaseAttributeLabel !optional;
	align:left; 
}

%CustomVars_AttributeWhiteLabelPositioning {
}

.AttributeWhiteLabelPositioning {
	@extend %CustomVars_AttributeLabel !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeWhiteLabelPositioning"
	);
	@extend %CustomVars_AttributeWhiteLabelPositioning !optional;
}


%BaseAttributeDragLabelPositioning {
	@extend %BaseAttributeLabel !optional;
	align:left; 
}

%CustomVars_AttributeDragLabelPositioning {
}

.AttributeDragLabelPositioning {
	@extend %CustomVars_AttributeLabel !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeDragLabelPositioning"
	);
	@extend %CustomVars_AttributeDragLabelPositioning !optional;
}


%BaseAttributeWPLabelPositioning {
	@extend %BaseAttributeLabel !optional;
	align:left; 
}

%CustomVars_AttributeWPLabelPositioning {
}

.AttributeWPLabelPositioning {
	@extend %CustomVars_AttributeLabel !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeWPLabelPositioning"
	);
	@extend %CustomVars_AttributeWPLabelPositioning !optional;
}


%BaseAttributeReadOnlyLabelPositioning {
	@extend %BaseAttributeLabel !optional;
	align:left; 
}

%CustomVars_AttributeReadOnlyLabelPositioning {
}

.AttributeReadOnlyLabelPositioning {
	@extend %CustomVars_AttributeLabel !optional;
	@include gx-textblock( 
		$class: "%BaseAttributeReadOnlyLabelPositioning"
	);
	@extend %CustomVars_AttributeReadOnlyLabelPositioning !optional;
}


%BaseLinkAttributeLabelPositioning {
	@extend %BaseAttributeLabel !optional;
	align:left; 
}

%CustomVars_LinkAttributeLabelPositioning {
}

.LinkAttributeLabelPositioning {
	@extend %CustomVars_AttributeLabel !optional;
	@include gx-textblock( 
		$class: "%BaseLinkAttributeLabelPositioning"
	);
	@extend %CustomVars_LinkAttributeLabelPositioning !optional;
}


%BaseCalendarLabel {
	@extend %BaseTextBlock !optional;
	margin-left: 2px;


	font-size: 34px;


	color: #A1A1A1;



}

%CustomVars_CalendarLabel {
}

.CalendarLabel {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseCalendarLabel"
	);
	@extend %CustomVars_CalendarLabel !optional;
}


%BaseImageLabelClass {
	@extend %BaseTextBlock !optional;
	margin-left: 0px;


	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_ImageLabelClass {
}

.ImageLabelClass {
	@extend %CustomVars_TextBlock !optional;
	@include gx-textblock( 
		$class: "%BaseImageLabelClass"
	);
	@extend %CustomVars_ImageLabelClass !optional;
}

%BaseViewImageLabelClass {
	@extend %BaseImageLabelClass !optional;
	font-size: 14px;


	color: #A1A1A1;



}

%CustomVars_ViewImageLabelClass {
}

.ViewImageLabelClass {
	@extend %CustomVars_ImageLabelClass !optional;
	@include gx-textblock( 
		$class: "%BaseViewImageLabelClass"
	);
	@extend %CustomVars_ViewImageLabelClass !optional;
}


%BaseImageLabelPositioning {
	@extend %BaseImageLabelClass !optional;
	align:left; 
}

%CustomVars_ImageLabelPositioning {
}

.ImageLabelPositioning {
	@extend %CustomVars_ImageLabelClass !optional;
	@include gx-textblock( 
		$class: "%BaseImageLabelPositioning"
	);
	@extend %CustomVars_ImageLabelPositioning !optional;
}


%BaseMatrix {
	show-horizontal-rules: True;


	show-vertical-rules: True;


	background-size: 100% 100%;



}

%CustomVars_Matrix {
}

.Matrix {
	// No mixin available for this class at the moment
	@extend %BaseMatrix !optional;

	@extend %CustomVars_Matrix !optional;
}


%BaseMatrixAxisLabel {
}

%CustomVars_MatrixAxisLabel {
}

.MatrixAxisLabel {
	// No mixin available for this class at the moment
	@extend %BaseMatrixAxisLabel !optional;

	@extend %CustomVars_MatrixAxisLabel !optional;
}


%BaseSDPageController {
}

%CustomVars_SDPageController {
}

.SDPageController {
	// No mixin available for this class at the moment
	@extend %BaseSDPageController !optional;

	@extend %CustomVars_SDPageController !optional;
}


%BaseCalendar {
	background-size: 100% 100%;


	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_Calendar {
}

.Calendar {
	// No mixin available for this class at the moment
	@extend %BaseCalendar !optional;

	@extend %CustomVars_Calendar !optional;
}


%BaseSDMapPinImage {
	pin-height: 0;


	pin-width: 0;



}

%CustomVars_SDMapPinImage {
}

.SDMapPinImage {
	// No mixin available for this class at the moment
	@extend %BaseSDMapPinImage !optional;

	@extend %CustomVars_SDMapPinImage !optional;
}


%BaseAudioController {
}

%CustomVars_AudioController {
}

.AudioController {
	// No mixin available for this class at the moment
	@extend %BaseAudioController !optional;

	@extend %CustomVars_AudioController !optional;
}


%BaseAnimation {
}

%CustomVars_Animation {
}

.Animation {
	// No mixin available for this class at the moment
	@extend %BaseAnimation !optional;

	@extend %CustomVars_Animation !optional;
}


%BaseProgress {
}

%CustomVars_Progress {
}

.Progress {
	@include gx-loading( 
		$class: "%BaseProgress"
	);
	@extend %CustomVars_Progress !optional;
}


%BaseMultimedia {
}

%CustomVars_Multimedia {
}

.Multimedia {
	// No mixin available for this class at the moment
	@extend %BaseMultimedia !optional;

	@extend %CustomVars_Multimedia !optional;
}


%BaseRating {
}

%CustomVars_Rating {
}

.Rating {
	// No mixin available for this class at the moment
	@extend %BaseRating !optional;

	@extend %CustomVars_Rating !optional;
}


%BaseSDSlider {
}

%CustomVars_SDSlider {
}

.SDSlider {
	// No mixin available for this class at the moment
	@extend %BaseSDSlider !optional;

	@extend %CustomVars_SDSlider !optional;
}


%BaseSDMapRoute {
}

%CustomVars_SDMapRoute {
}

.SDMapRoute {
	// No mixin available for this class at the moment
	@extend %BaseSDMapRoute !optional;

	@extend %CustomVars_SDMapRoute !optional;
}


%BaseSDMapPolygon {
}

%CustomVars_SDMapPolygon {
}

.SDMapPolygon {
	// No mixin available for this class at the moment
	@extend %BaseSDMapPolygon !optional;

	@extend %CustomVars_SDMapPolygon !optional;
}


%BaseAttribute {
	font-size: 18px;


	color: #2A3143;



}

%CustomVars_Attribute {
--margin-left: 0px;
}

.Attribute {
	@include gx-form-field( 
		$class: "%BaseAttribute", 
		$highlighted: "%Base_HighlightedAttribute"
	, 
		$label: ".AttributeLabelPositioning"

	);
	@extend %CustomVars_Attribute !optional;
}

%BaseAttributeSubtitle {
	@extend %BaseAttribute !optional;
	font-size: 18px;


	color: #2A3143;



}

%CustomVars_AttributeSubtitle {
}

.AttributeSubtitle {
	@extend %CustomVars_Attribute !optional;
	@include gx-form-field( 
		$class: "%BaseAttributeSubtitle", 
		$highlighted: "%Base_HighlightedAttributeSubtitle"
	, 
		$label: ".AttributeSubtitleLabelPositioning"

	);
	@extend %CustomVars_AttributeSubtitle !optional;
}

%Base_HighlightedAttributeSubtitle {
	@extend %BaseAttributeSubtitle !optional;
	color: #2A3143;



}


%BaseAttributeTitleDetail {
	@extend %BaseAttribute !optional;
	font-size: 18px;


	color: #2A3143;



}

%CustomVars_AttributeTitleDetail {
}

.AttributeTitleDetail {
	@extend %CustomVars_Attribute !optional;
	@include gx-form-field( 
		$class: "%BaseAttributeTitleDetail", 
		$highlighted: "%Base_HighlightedAttributeTitleDetail"
	, 
		$label: ".AttributeTitleDetailLabelPositioning"

	);
	@extend %CustomVars_AttributeTitleDetail !optional;
}

%Base_HighlightedAttributeTitleDetail {
	@extend %BaseAttributeTitleDetail !optional;
	color: #2A3143;



}


%BaseAttributeWhite {
	@extend %BaseAttribute !optional;
	font-size: 18px;


	color: #2A3143;



}

%CustomVars_AttributeWhite {
}

.AttributeWhite {
	@extend %CustomVars_Attribute !optional;
	@include gx-form-field( 
		$class: "%BaseAttributeWhite", 
		$highlighted: "%Base_HighlightedAttributeWhite"
	, 
		$label: ".AttributeWhiteLabelPositioning"

	);
	@extend %CustomVars_AttributeWhite !optional;
}

%Base_HighlightedAttributeWhite {
	@extend %BaseAttributeWhite !optional;
	color: #2A3143;



}


%BaseAttributeDrag {
	@extend %BaseAttribute !optional;
	font-size: 18px;


	color: #2A3143;



}

%CustomVars_AttributeDrag {
}

.AttributeDrag {
	@extend %CustomVars_Attribute !optional;
	@include gx-form-field( 
		$class: "%BaseAttributeDrag", 
		$highlighted: "%Base_HighlightedAttributeDrag"
	, 
		$label: ".AttributeDragLabelPositioning"

	);
	@extend %CustomVars_AttributeDrag !optional;
}

%Base_HighlightedAttributeDrag {
	@extend %BaseAttributeDrag !optional;
	color: #2A3143;



}


%BaseAttributeWP {
	@extend %BaseAttribute !optional;
	font-size: 18px;


	color: #2A3143;



}

%CustomVars_AttributeWP {
}

.AttributeWP {
	@extend %CustomVars_Attribute !optional;
	@include gx-form-field( 
		$class: "%BaseAttributeWP", 
		$highlighted: "%Base_HighlightedAttributeWP"
	, 
		$label: ".AttributeWPLabelPositioning"

	);
	@extend %CustomVars_AttributeWP !optional;
}

%Base_HighlightedAttributeWP {
	@extend %BaseAttributeWP !optional;
	color: #2A3143;



}


%BaseAttributeReadOnly {
	@extend %BaseAttribute !optional;
	font-size: 18px;


	color: #A1A1A1;



}

%CustomVars_AttributeReadOnly {
}

.AttributeReadOnly {
	@extend %CustomVars_Attribute !optional;
	@include gx-form-field( 
		$class: "%BaseAttributeReadOnly", 
		$highlighted: "%Base_HighlightedAttributeReadOnly"
	, 
		$label: ".AttributeReadOnlyLabelPositioning"

	);
	@extend %CustomVars_AttributeReadOnly !optional;
}

%Base_HighlightedAttributeReadOnly {
	@extend %BaseAttributeReadOnly !optional;
	color: #A1A1A1;



}


%BaseAttributeTitle {
	@extend %BaseAttribute !optional;
	padding-left: 23px;


	font-size: 18px;


	font-weight: normal;


	color: #2A3143;



}

%CustomVars_AttributeTitle {
--margin-top: 0px;--margin-right: 0px;--margin-bottom: 0px;
}

.AttributeTitle {
	@extend %CustomVars_Attribute !optional;
	@include gx-form-field( 
		$class: "%BaseAttributeTitle", 
		$highlighted: "%Base_HighlightedAttributeTitle"
	, 
		$label: ".AttributeTitleLabelPositioning"

	);
	@extend %CustomVars_AttributeTitle !optional;
}

%BaseAttributeTitleWhite {
	@extend %BaseAttributeTitle !optional;
	color: #2A3143;



}

%CustomVars_AttributeTitleWhite {
--margin-top: 0px;--margin-right: 0px;--margin-bottom: 0px;
}

.AttributeTitleWhite {
	@extend %CustomVars_AttributeTitle !optional;
	@include gx-form-field( 
		$class: "%BaseAttributeTitleWhite", 
		$highlighted: "%Base_HighlightedAttributeTitleWhite"
	, 
		$label: ".AttributeTitleWhiteLabelPositioning"

	);
	@extend %CustomVars_AttributeTitleWhite !optional;
}

%Base_HighlightedAttributeTitleWhite {
	@extend %BaseAttributeTitleWhite !optional;
	color: #2A3143;



}


%Base_HighlightedAttributeTitle {
	@extend %BaseAttributeTitle !optional;
	color: #2A3143;



}


%BaseLinkAttribute {
	@extend %BaseAttribute !optional;
	font-size: 18px;


	color: #078AEF;



}

%CustomVars_LinkAttribute {
}

.LinkAttribute {
	@extend %CustomVars_Attribute !optional;
	@include gx-form-field( 
		$class: "%BaseLinkAttribute", 
		$highlighted: "%Base_HighlightedLinkAttribute"
	, 
		$label: ".LinkAttributeLabelPositioning"

	);
	@extend %CustomVars_LinkAttribute !optional;
}

%Base_HighlightedLinkAttribute {
	@extend %BaseLinkAttribute !optional;
	color: #078AEF;



}


%Base_HighlightedAttribute {
	@extend %BaseAttribute !optional;
	color: #2A3143;



}


%BaseImage {
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_Image {
--image-scale-type: cover;
--image-loading-indicator: none;

--margin-top: 15px;--margin-bottom: 15px;
}

.Image {
	@include gx-image-attribute( 
		$class: "%BaseImage", 
		$label: ".ImageLabelPositioning"

	);
	@extend %CustomVars_Image !optional;
}

%BaseImageScaleToFillKA {
	@extend %BaseImage !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageScaleToFillKA {
--image-loading-indicator: none;

}

.ImageScaleToFillKA {
	@extend %CustomVars_Image !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageScaleToFillKA", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageScaleToFillKA !optional;
}


%BaseImageOriginal {
	@extend %BaseImage !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageOriginal {
--image-loading-indicator: none;

}

.ImageOriginal {
	@extend %CustomVars_Image !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageOriginal", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageOriginal !optional;
}


%BaseImageScaleToFill {
	@extend %BaseImage !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageScaleToFill {
--image-loading-indicator: none;

}

.ImageScaleToFill {
	@extend %CustomVars_Image !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageScaleToFill", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageScaleToFill !optional;
}


%BaseImageScaleToFitKA {
	@extend %BaseImage !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageScaleToFitKA {
--image-loading-indicator: none;

}

.ImageScaleToFitKA {
	@extend %CustomVars_Image !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageScaleToFitKA", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageScaleToFitKA !optional;
}


%BaseImageFillKeepingAspect {
	@extend %BaseImage !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageFillKeepingAspect {
--image-loading-indicator: none;

}

.ImageFillKeepingAspect {
	@extend %CustomVars_Image !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageFillKeepingAspect", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageFillKeepingAspect !optional;
}

%BaseImageFit {
	@extend %BaseImageFillKeepingAspect !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageFit {
--image-loading-indicator: none;

}

.ImageFit {
	@extend %CustomVars_ImageFillKeepingAspect !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageFit", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageFit !optional;
}


%BaseImageFill {
	@extend %BaseImageFillKeepingAspect !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageFill {
--image-loading-indicator: none;

}

.ImageFill {
	@extend %CustomVars_ImageFillKeepingAspect !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageFill", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageFill !optional;
}


%BaseImageTile {
	@extend %BaseImageFillKeepingAspect !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageTile {
--image-loading-indicator: none;

}

.ImageTile {
	@extend %CustomVars_ImageFillKeepingAspect !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageTile", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageTile !optional;
}


%BaseImageFitKeepingAspectMedium {
	@extend %BaseImage !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ImageFitKeepingAspectMedium {
--image-loading-indicator: none;

}

.ImageFitKeepingAspectMedium {
	@extend %CustomVars_Image !optional;
	@include gx-image-attribute( 
		$class: "%BaseImageFitKeepingAspectMedium", 
		$label: ".ImageLabelClass"

	);
	@extend %CustomVars_ImageFitKeepingAspectMedium !optional;
}


%BaseWWImage {
	@extend %BaseImage !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_WWImage {
--image-loading-indicator: none;

--margin-top: 0px;--margin-right: 0px;--margin-bottom: 0px;--margin-left: 0px;
}

.WWImage {
	@extend %CustomVars_Image !optional;
	@include gx-image-attribute( 
		$class: "%BaseWWImage", 
		$label: ".ImageLabelPositioning"

	);
	@extend %CustomVars_WWImage !optional;
}


%BaseViewImage {
	@extend %BaseImage !optional;
	sdmotion-max-horizontal: 0;


	sdmotion-max-vertical: 0;



}

%CustomVars_ViewImage {
--placeholder-image: url(/globantdemoservicesresources/Group.png);
--image-loading-indicator: none;

}

.ViewImage {
	@extend %CustomVars_Image !optional;
	@include gx-image-attribute( 
		$class: "%BaseViewImage", 
		$label: ".ViewImageLabelClass"

	);
	@extend %CustomVars_ViewImage !optional;
}


%BaseApplication {
	background-size: 100% 100%;



}

%CustomVars_Application {
--image-loading-indicator: none;
--primary-color: #B80545;
--primary-color-dark: #9F0039;
--accent-color: #FFA7C0;
--control-normal-color: #A1A1A1;
--control-activated-color: #FFA7C0;
--control-highlight-color: #B80545;
--action-tint-color: #FF3F79;

--gx-application-background-color: #FFFFFF;
}

.Application {
	@include gx-application( 
		$class: "%BaseApplication"
	);
	@extend %CustomVars_Application !optional;
}


%BaseApplicationBars {
	font-size: 18px;


	font-weight: bold;



}

%CustomVars_ApplicationBars {
--gx-navbar-main-background-color: #9F0039;--gx-navbar-main-color: #FFFFFF;
}

.ApplicationBars {
	@include gx-application-bar( 
		$class: "%BaseApplicationBars", 
		$back-button: ".ButtonActionBar"
	, 
		$default-button: ".ButtonActionBar"

	);
	@extend %CustomVars_ApplicationBars !optional;
}

%BaseProgressRing {
	@extend %BaseApplicationBars !optional;

}

%CustomVars_ProgressRing {
}

.ProgressRing {
	@extend %CustomVars_ApplicationBars !optional;
	@include gx-application-bar( 
		$class: "%BaseProgressRing", 
		$back-button: ".ButtonActionBar"
	, 
		$default-button: ".ButtonActionBar"

	);
	@extend %CustomVars_ProgressRing !optional;
}


%BaseApplicationBarsHeaderRow {
	@extend %BaseApplicationBars !optional;

}

%CustomVars_ApplicationBarsHeaderRow {
}

.ApplicationBarsHeaderRow {
	@extend %CustomVars_ApplicationBars !optional;
	@include gx-application-bar( 
		$class: "%BaseApplicationBarsHeaderRow", 
		$back-button: ".ButtonActionBar"
	, 
		$default-button: ".ButtonActionBar"

	);
	@extend %CustomVars_ApplicationBarsHeaderRow !optional;
}


%BaseMenuItem {
	font-size: 18px;



}

%CustomVars_MenuItem {
}

.MenuItem {
	// No mixin available for this class at the moment
	@extend %BaseMenuItem !optional;

	@extend %CustomVars_MenuItem !optional;
}

%BaseDashboardOptionPanoramaItem {
	@extend %BaseMenuItem !optional;

}

%CustomVars_DashboardOptionPanoramaItem {
}

.DashboardOptionPanoramaItem {
	@extend %CustomVars_MenuItem !optional;
	// No mixin available for this class at the moment
	@extend %BaseDashboardOptionPanoramaItem !optional;

	@extend %CustomVars_DashboardOptionPanoramaItem !optional;
}


%BaseTabPage {
	font-size: 12px;


	text-transform: uppercase;
}

%CustomVars_TabPage {
}

.TabPage {
	@include gx-tab-caption( 
		$class: "%BaseTabPage"
	);
	@extend %CustomVars_TabPage !optional;
}

%BaseTabPageUnselected {
	@extend %BaseTabPage !optional;
	text-transform: uppercase;
}

%CustomVars_TabPageUnselected {
}

.TabPageUnselected {
	@extend %CustomVars_TabPage !optional;
	@include gx-tab-caption( 
		$class: "%BaseTabPageUnselected"
	);
	@extend %CustomVars_TabPageUnselected !optional;
}


%BaseTabPageSelected {
	@extend %BaseTabPage !optional;
	color: #B80545;


	text-transform: uppercase;
}

%CustomVars_TabPageSelected {
}

.TabPageSelected {
	@extend %CustomVars_TabPage !optional;
	@include gx-tab-caption( 
		$class: "%BaseTabPageSelected"
	);
	@extend %CustomVars_TabPageSelected !optional;
}


%BaseGridRow {
	padding-bottom: 10px;


	padding-left: 15px;


	padding-top: 10px;


	background-size: 100% 100%;



}

%CustomVars_GridRow {
}

.GridRow {
	@include gx-grid-base-row( 
		$class: "%BaseGridRow"
	);
	@extend %CustomVars_GridRow !optional;
}

%BaseGridRowOdd {
	@extend %BaseGridRow !optional;
	background-size: 100% 100%;



}

%CustomVars_GridRowOdd {
}

.GridRowOdd {
	@extend %CustomVars_GridRow !optional;
	@include gx-grid-base-row( 
		$class: "%BaseGridRowOdd"
	);
	@extend %CustomVars_GridRowOdd !optional;
}


%BaseGridRowEven {
	@extend %BaseGridRow !optional;
	background-size: 100% 100%;



}

%CustomVars_GridRowEven {
}

.GridRowEven {
	@extend %CustomVars_GridRow !optional;
	@include gx-grid-base-row( 
		$class: "%BaseGridRowEven"
	);
	@extend %CustomVars_GridRowEven !optional;
}


%BaseHorizontalLine {
	background-color: #EAEAEA;


	margin-bottom: 1px
}

%CustomVars_HorizontalLine {
}

.HorizontalLine {
	// No mixin available for this class at the moment
	@extend %BaseHorizontalLine !optional;

	@extend %CustomVars_HorizontalLine !optional;
}

%BaseMatrixLineSeparator {
	@extend %BaseHorizontalLine !optional;

}

%CustomVars_MatrixLineSeparator {
}

.MatrixLineSeparator {
	@extend %CustomVars_HorizontalLine !optional;
	// No mixin available for this class at the moment
	@extend %BaseMatrixLineSeparator !optional;

	@extend %CustomVars_MatrixLineSeparator !optional;
}


%BaseWWLineSeparator {
	@extend %BaseHorizontalLine !optional;

}

%CustomVars_WWLineSeparator {
}

.WWLineSeparator {
	@extend %CustomVars_HorizontalLine !optional;
	// No mixin available for this class at the moment
	@extend %BaseWWLineSeparator !optional;

	@extend %CustomVars_WWLineSeparator !optional;
}


%BaseTab {
	tab-strip-background-color: #FAFAFA;



}

%CustomVars_Tab {
}

.Tab {
	@include gx-tab( 
		$class: "%BaseTab", 
		$selected-tab-caption: ".TabPageSelected"
	, 
		$unselected-tab-caption: ".TabPageUnselected"

	);
	@extend %CustomVars_Tab !optional;
}



.section > main > gx-card > div > div > gx-table {
	height: auto;
}

.section > main > gx-card > div > .card-header {
	border-spacing: 10px;
	background-color: rgba(0,0,0,.02);
}

.section {
	margin-bottom: 30px;
}

/* Horizontal grid items must fill its given area */
.gx-horizontal-grid-item {
	width:100%;
	height:100%;
	& > div {
		width:100%;
		height:100%;
	}
}

/* Fix horizontal grid elements sizing (AGS version) 
If this rule is not specified, grid elements in horizontal 
grids won't grow, and would depend on container size. This 
won't work if container size depends on contained items size*/
.gx-horizontal-grid-item .image-viewer {
	min-width: 100%;
	min-height: 100%;
}
