  <section class="main-content">
    <gx-card
      #ViewAny
      [showHeader]='showAsCard'
      [showBorder]='showAsCard'
      [showFooter]='showAsCard'
      *ngIf="viewManager.view === 'ViewAny'"
      class="ApplicationBars"
    >
      <div slot="body" *ngIf="viewManager.view === 'ViewAny'">
          <gx-table
            #ctrlMaintable
            ngClass='TableSection'
            areas-template="'. cell01 ' '. cell11 ' '. cell21 ' '. cell31 ' '. cell41 ' 'cell50 cell50 ' "
            columns-template="10px 1fr"
            rows-template="minmax(min-content, 64px) minmax(min-content, 64px) minmax(min-content, 64px) minmax(min-content, 64px) var(--gx-table-row-autogrow) var(--gx-table-row-autogrow)"
             style="min-height: 520px; "
            invisible-mode="keep-space"
          >
            <gx-table-cell 
              area="cell01"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="64px" min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Company' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlCompanyname
                    name="ctrlCompanyname"
                    type="text"
                    placeholder="Company"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.CompanyName"
                    ngDefaultControl
                    [attr.readonly]="true"
                    [showTrigger]="true"
                    (gxTriggerClick)="callAction(_promptCompanyName); $event.stopPropagation()"
                    line-clamp
                    area="field"
                  >
                    <img slot="trigger-content" src="images\prompt.gif"/>
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell11"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="64px" min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Contact' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlContactname
                    name="ctrlContactname"
                    type="text"
                    placeholder="Contact"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.ContactName"
                    ngDefaultControl
                    [attr.readonly]="true"
                    [showTrigger]="true"
                    (gxTriggerClick)="callAction(_promptContactName); $event.stopPropagation()"
                    line-clamp
                    area="field"
                  >
                    <img slot="trigger-content" src="images\prompt.gif"/>
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell21"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="64px" min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Title' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlMeetingtitle
                    name="ctrlMeetingtitle"
                    type="text"
                    placeholder="Title"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingTitle"
                    ngDefaultControl
                    [attr.readonly]="true"
                    line-clamp
                    area="field"
                  >
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell31"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="64px" min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Date' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlMeetingdate
                    name="ctrlMeetingdate"
                    type="datetime-local"
                    placeholder="Date"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingDate | datetimeToISOString"
                    ngDefaultControl
                    [attr.readonly]="true"
                    line-clamp
                    area="field"
                  >
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell41"
               overflow-mode="clip"
              align="left" valign="top"
               min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Notes' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlMeetingnote
                    name="ctrlMeetingnote"
                    type="text"
                    placeholder="Notes"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingNote"
                    ngDefaultControl
                    [attr.readonly]="true"
                    area="field"
                  >
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell50"
               overflow-mode="clip"
              align="left" valign="top"
               min-height="200px"
            >
                <gx-table
                  #ctrlTable1
                  ngClass='Table'
                  areas-template="'cell00 ' "
                  columns-template="1fr"
                  rows-template="var(--gx-table-row-autogrow)"
                   style="min-height: 200px; "
                  invisible-mode="keep-space"
                >
                  <gx-table-cell 
                    area="cell00"
                     overflow-mode="clip"
                    align="left" valign="top"
                     min-height="200px"
                  >
                    <gx-form-field
                      ngClass='Attribute'
                      invisible-mode="keep-space"
                      labelCaption="{{'Place' | translate}}"
                      label-position="top"
                      >
                      <gx-geolocation
                        #ctrlMeetinggeolocation
                        [coords]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingGeolocation"
                        [readonly]="true"
                        (onGeolocationChanged) = "this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingGeolocation = $event;"
                        area="field">
                      </gx-geolocation>
                    </gx-form-field>

                  </gx-table-cell>


                </gx-table>

            </gx-table-cell>


          </gx-table>

      </div>
      <gx-button
        #ctrlButtonupdate
        name="ctrlButtonupdate"
        (click)="callAction( this._Update); $event.stopPropagation()"
        ngClass='Button'
        [disabled]="_actionsEnabled | default:true | not"
        image-position=""
        slot="high-priority-action"
        *ngIf="showAsCard"
      >
        {{translate('GXM_update')}}
      </gx-button>
      <gx-button
        #ctrlButtondelete
        name="ctrlButtondelete"
        (click)="callAction( this._Delete); $event.stopPropagation()"
        ngClass='Button'
        [disabled]="_actionsEnabled | default:true | not"
        image-position=""
        slot="high-priority-action"
        *ngIf="showAsCard"
      >
        {{translate('GX_BtnDelete')}}
      </gx-button>
    </gx-card>
    <gx-card
      #EditAny
      [showHeader]='showAsCard'
      [showBorder]='showAsCard'
      [showFooter]='showAsCard'
      *ngIf="viewManager.view === 'EditAny'"
      class="ApplicationBars"
    >
      <div slot="body" *ngIf="viewManager.view === 'EditAny'">
          <gx-table
            #ctrlMaintable
            ngClass='TableSectioninsert'
            areas-template="'cell00 ' 'cell10 ' 'cell20 ' 'cell30 ' 'cell40 ' 'cell50 ' "
            columns-template="1fr"
            rows-template="minmax(min-content, 64px) minmax(min-content, 64px) minmax(min-content, 64px) minmax(min-content, 64px) var(--gx-table-row-autogrow) var(--gx-table-row-autogrow)"
             style="min-height: 384px; "
            invisible-mode="keep-space"
          >
            <gx-table-cell 
              area="cell00"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="64px" min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Title' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlMeetingtitle
                    name="ctrlMeetingtitle"
                    type="text"
                    placeholder="Title"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingTitle"
                    (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingTitle = $event;   "
                    ngDefaultControl
                    [attr.readonly]="(false || (this.Mode == 'DLT'))"
                    area="field"
                  >
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell10"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="64px" min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Company' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlCompanyname
                    name="ctrlCompanyname"
                    type="text"
                    placeholder="Company"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.CompanyName"
                    (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.CompanyName = $event;   "
                    ngDefaultControl
                    [attr.readonly]="(false || (this.Mode == 'DLT'))"
                    [showTrigger]="true"
                    (gxTriggerClick)="callAction(_promptCompanyName); $event.stopPropagation()"
                    area="field"
                  >
                    <img slot="trigger-content" src="images\prompt.gif"/>
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell20"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="64px" min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Contact' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlContactname
                    name="ctrlContactname"
                    type="text"
                    placeholder="Contact"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.ContactName"
                    (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.ContactName = $event;   "
                    ngDefaultControl
                    [attr.readonly]="(false || (this.Mode == 'DLT'))"
                    [showTrigger]="true"
                    (gxTriggerClick)="callAction(_promptContactName); $event.stopPropagation()"
                    area="field"
                  >
                    <img slot="trigger-content" src="images\prompt.gif"/>
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell30"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="64px" min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Date' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlMeetingdate
                    name="ctrlMeetingdate"
                    type="datetime-local"
                    placeholder="Date"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingDate | datetimeToISOString"
                    (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingDate = this.dateFromISOString($event);   "
                    ngDefaultControl
                    [attr.readonly]="(false || (this.Mode == 'DLT'))"
                    area="field"
                  >
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell40"
               overflow-mode="clip"
              align="left" valign="top"
               min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Place' | translate}}"
                label-position="left"
                >
                <gx-geolocation
                  #ctrlMeetinggeolocation
                  [coords]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingGeolocation"
                  [readonly]="false"
                  (onGeolocationChanged) = "this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingGeolocation = $event;"
                  area="field">
                </gx-geolocation>
              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell50"
               overflow-mode="clip"
              align="left" valign="top"
               min-height="64px"
            >
              <gx-form-field
                ngClass='Attribute'
                invisible-mode="keep-space"
                labelCaption="{{'Notes' | translate}}"
                label-position="left"
                >
                  <gx-edit
                    #ctrlMeetingnote
                    name="ctrlMeetingnote"
                    type="text"
                    placeholder="Notes"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingNote"
                    (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingNote = $event;   "
                    ngDefaultControl
                    [attr.readonly]="(false || (this.Mode == 'DLT'))"
                    area="field"
                  >
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


          </gx-table>

      </div>
      <gx-button
        #ctrlButtonsave
        name="ctrlButtonsave"
        (click)="callAction( this._Save); $event.stopPropagation()"
        ngClass='Button'
        [disabled]="_actionsEnabled | default:true | not"
        image-position=""
        slot="high-priority-action"
        *ngIf="showAsCard"
      >
        {{translate('GXM_Save')}}
      </gx-button>
      <gx-button
        #ctrlButtoncancel
        name="ctrlButtoncancel"
        (click)="callAction( this._Cancel); $event.stopPropagation()"
        ngClass='Button'
        [disabled]="_actionsEnabled | default:true | not"
        image-position=""
        slot="high-priority-action"
        *ngIf="showAsCard"
      >
        {{translate('GXM_cancel')}}
      </gx-button>
    </gx-card>
    <gx-card
      #ViewiPad
      [showHeader]='showAsCard'
      [showBorder]='showAsCard'
      [showFooter]='showAsCard'
      *ngIf="viewManager.view === 'ViewiPad'"
      class="ApplicationBars"
    >
      <div slot="body" *ngIf="viewManager.view === 'ViewiPad'">
          <gx-table
            #ctrlMaintable
            ngClass='Table'
            areas-template="'cell00 ' 'cell10 ' 'cell20 ' "
            columns-template="1fr"
            rows-template="minmax(min-content, 44px) var(--gx-table-row-autogrow) var(--gx-table-row-autogrow)"
             style="min-height: 520px; "
            invisible-mode="keep-space"
          >
            <gx-table-cell 
              area="cell00"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="44px" min-height="44px"
            >
                <gx-edit
                  #ctrlMeetingtitle
                  name="ctrlMeetingtitle"
                  ngClass='AttributeTitleDetail'
                  invisible-mode="keep-space"

                  type="text"
                  placeholder="Meeting Title"

                  [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingTitle"
                  ngDefaultControl
                  [attr.readonly]="true"
                  line-clamp
                  area="field"
                >
                </gx-edit>


            </gx-table-cell>


            <gx-table-cell 
              area="cell10"
               overflow-mode="clip"
              align="left" valign="top"
               min-height="88px"
            >
                <gx-table
                  #ctrlTable1
                  ngClass='TableSection'
                  areas-template="'cell00 ' 'cell10 ' "
                  columns-template="1fr"
                  rows-template="minmax(min-content, 44px) minmax(min-content, 44px)"
                   style="min-height: 88px; "
                  invisible-mode="keep-space"
                >
                  <gx-table-cell 
                    area="cell00"
                     overflow-mode="clip"
                    align="left" valign="top"
                    max-height="44px" min-height="44px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Company' | translate}}"
                      label-position="left"
                      >
                        <gx-edit
                          #ctrlCompanyname
                          name="ctrlCompanyname"
                          type="text"
                          placeholder="Company"

                          [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.CompanyName"
                          ngDefaultControl
                          [attr.readonly]="true"
                          [showTrigger]="true"
                          (gxTriggerClick)="callAction(_promptCompanyName); $event.stopPropagation()"
                          line-clamp
                          area="field"
                        >
                          <img slot="trigger-content" src="images\prompt.gif"/>
                        </gx-edit>

                    </gx-form-field>

                  </gx-table-cell>


                  <gx-table-cell 
                    area="cell10"
                     overflow-mode="clip"
                    align="left" valign="top"
                    max-height="44px" min-height="44px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Contact' | translate}}"
                      label-position="left"
                      >
                        <gx-edit
                          #ctrlContactname
                          name="ctrlContactname"
                          type="text"
                          placeholder="Contact"

                          [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.ContactName"
                          ngDefaultControl
                          [attr.readonly]="true"
                          [showTrigger]="true"
                          (gxTriggerClick)="callAction(_promptContactName); $event.stopPropagation()"
                          line-clamp
                          area="field"
                        >
                          <img slot="trigger-content" src="images\prompt.gif"/>
                        </gx-edit>

                    </gx-form-field>

                  </gx-table-cell>


                </gx-table>

            </gx-table-cell>


            <gx-table-cell 
              area="cell20"
               overflow-mode="clip"
              align="left" valign="top"
               min-height="388px"
            >
                <gx-table
                  #ctrlTable2
                  ngClass='TableSection'
                  areas-template="'cell00 ' 'cell10 ' 'cell20 ' "
                  columns-template="1fr"
                  rows-template="minmax(min-content, 44px) var(--gx-table-row-autogrow) var(--gx-table-row-autogrow)"
                   style="min-height: 388px; "
                  invisible-mode="keep-space"
                >
                  <gx-table-cell 
                    area="cell00"
                     overflow-mode="clip"
                    align="left" valign="top"
                    max-height="44px" min-height="44px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Date' | translate}}"
                      label-position="left"
                      >
                        <gx-edit
                          #ctrlMeetingdate
                          name="ctrlMeetingdate"
                          type="datetime-local"
                          placeholder="Date"

                          [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingDate | datetimeToISOString"
                          ngDefaultControl
                          [attr.readonly]="true"
                          line-clamp
                          area="field"
                        >
                        </gx-edit>

                    </gx-form-field>

                  </gx-table-cell>


                  <gx-table-cell 
                    area="cell10"
                     overflow-mode="clip"
                    align="left" valign="top"
                     min-height="300px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Place' | translate}}"
                      label-position="left"
                      >
                      <gx-geolocation
                        #ctrlMeetinggeolocation
                        [coords]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingGeolocation"
                        [readonly]="true"
                        (onGeolocationChanged) = "this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingGeolocation = $event;"
                        area="field">
                      </gx-geolocation>
                    </gx-form-field>

                  </gx-table-cell>


                  <gx-table-cell 
                    area="cell20"
                     overflow-mode="clip"
                    align="left" valign="top"
                     min-height="44px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Notes' | translate}}"
                      label-position="left"
                      >
                        <gx-edit
                          #ctrlMeetingnote
                          name="ctrlMeetingnote"
                          type="text"
                          placeholder="Notes"

                          [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingNote"
                          ngDefaultControl
                          [attr.readonly]="true"
                          area="field"
                        >
                        </gx-edit>

                    </gx-form-field>

                  </gx-table-cell>


                </gx-table>

            </gx-table-cell>


          </gx-table>

      </div>
      <gx-button
        #ctrlButtonupdate
        name="ctrlButtonupdate"
        (click)="callAction( this._Update); $event.stopPropagation()"
        ngClass='Button'
        [disabled]="_actionsEnabled | default:true | not"
        image-position=""
        slot="high-priority-action"
        *ngIf="showAsCard"
      >
        {{translate('GXM_update')}}
      </gx-button>
      <gx-button
        #ctrlButtondelete
        name="ctrlButtondelete"
        (click)="callAction( this._Delete); $event.stopPropagation()"
        ngClass='Button'
        [disabled]="_actionsEnabled | default:true | not"
        image-position=""
        slot="high-priority-action"
        *ngIf="showAsCard"
      >
        {{translate('GX_BtnDelete')}}
      </gx-button>
    </gx-card>
    <gx-card
      #EditiPad
      [showHeader]='showAsCard'
      [showBorder]='showAsCard'
      [showFooter]='showAsCard'
      *ngIf="viewManager.view === 'EditiPad'"
      class="ApplicationBars"
    >
      <div slot="body" *ngIf="viewManager.view === 'EditiPad'">
          <gx-table
            #ctrlMaintable
            ngClass='Table'
            areas-template="'cell00 ' 'cell10 ' 'cell20 ' "
            columns-template="1fr"
            rows-template="minmax(min-content, 53px) var(--gx-table-row-autogrow) var(--gx-table-row-autogrow)"
             style="min-height: 565px; "
            invisible-mode="keep-space"
          >
            <gx-table-cell 
              area="cell00"
               overflow-mode="clip"
              align="left" valign="top"
              max-height="53px" min-height="53px"
            >
              <gx-form-field
                ngClass='AttributeTitleDetail'
                invisible-mode="keep-space"
                labelCaption=""
                label-position="none"
                >
                  <gx-edit
                    #ctrlMeetingtitle
                    name="ctrlMeetingtitle"
                    type="text"
                    placeholder="Meeting Title"

                    [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingTitle"
                    (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingTitle = $event;   "
                    ngDefaultControl
                    [attr.readonly]="(false || (this.Mode == 'DLT'))"
                    area="field"
                  >
                  </gx-edit>

              </gx-form-field>

            </gx-table-cell>


            <gx-table-cell 
              area="cell10"
               overflow-mode="clip"
              align="left" valign="top"
               min-height="106px"
            >
                <gx-table
                  #ctrlTable1
                  ngClass='TableSection'
                  areas-template="'cell00 ' 'cell10 ' "
                  columns-template="1fr"
                  rows-template="minmax(min-content, 53px) minmax(min-content, 53px)"
                   style="min-height: 106px; "
                  invisible-mode="keep-space"
                >
                  <gx-table-cell 
                    area="cell00"
                     overflow-mode="clip"
                    align="left" valign="top"
                    max-height="53px" min-height="53px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Company' | translate}}"
                      label-position="left"
                      >
                        <gx-edit
                          #ctrlCompanyname
                          name="ctrlCompanyname"
                          type="text"
                          placeholder="Company"

                          [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.CompanyName"
                          (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.CompanyName = $event;   "
                          ngDefaultControl
                          [attr.readonly]="(false || (this.Mode == 'DLT'))"
                          [showTrigger]="true"
                          (gxTriggerClick)="callAction(_promptCompanyName); $event.stopPropagation()"
                          area="field"
                        >
                          <img slot="trigger-content" src="images\prompt.gif"/>
                        </gx-edit>

                    </gx-form-field>

                  </gx-table-cell>


                  <gx-table-cell 
                    area="cell10"
                     overflow-mode="clip"
                    align="left" valign="top"
                    max-height="53px" min-height="53px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Contact' | translate}}"
                      label-position="left"
                      >
                        <gx-edit
                          #ctrlContactname
                          name="ctrlContactname"
                          type="text"
                          placeholder="Contact"

                          [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.ContactName"
                          (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.ContactName = $event;   "
                          ngDefaultControl
                          [attr.readonly]="(false || (this.Mode == 'DLT'))"
                          [showTrigger]="true"
                          (gxTriggerClick)="callAction(_promptContactName); $event.stopPropagation()"
                          area="field"
                        >
                          <img slot="trigger-content" src="images\prompt.gif"/>
                        </gx-edit>

                    </gx-form-field>

                  </gx-table-cell>


                </gx-table>

            </gx-table-cell>


            <gx-table-cell 
              area="cell20"
               overflow-mode="clip"
              align="left" valign="top"
               min-height="406px"
            >
                <gx-table
                  #ctrlTable2
                  ngClass='TableSection'
                  areas-template="'cell00 ' 'cell10 ' 'cell20 ' "
                  columns-template="1fr"
                  rows-template="minmax(min-content, 53px) var(--gx-table-row-autogrow) var(--gx-table-row-autogrow)"
                   style="min-height: 406px; "
                  invisible-mode="keep-space"
                >
                  <gx-table-cell 
                    area="cell00"
                     overflow-mode="clip"
                    align="left" valign="top"
                    max-height="53px" min-height="53px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Date' | translate}}"
                      label-position="left"
                      >
                        <gx-edit
                          #ctrlMeetingdate
                          name="ctrlMeetingdate"
                          type="datetime-local"
                          placeholder="Date"

                          [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingDate | datetimeToISOString"
                          (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingDate = this.dateFromISOString($event);   "
                          ngDefaultControl
                          [attr.readonly]="(false || (this.Mode == 'DLT'))"
                          area="field"
                        >
                        </gx-edit>

                    </gx-form-field>

                  </gx-table-cell>


                  <gx-table-cell 
                    area="cell10"
                     overflow-mode="clip"
                    align="left" valign="top"
                     min-height="300px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Place' | translate}}"
                      label-position="left"
                      >
                      <gx-geolocation
                        #ctrlMeetinggeolocation
                        [coords]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingGeolocation"
                        [readonly]="false"
                        (onGeolocationChanged) = "this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingGeolocation = $event;"
                        area="field">
                      </gx-geolocation>
                    </gx-form-field>

                  </gx-table-cell>


                  <gx-table-cell 
                    area="cell20"
                     overflow-mode="clip"
                    align="left" valign="top"
                     min-height="53px"
                  >
                    <gx-form-field
                      ngClass='AttributeReadOnly'
                      invisible-mode="keep-space"
                      labelCaption="{{'Notes' | translate}}"
                      label-position="left"
                      >
                        <gx-edit
                          #ctrlMeetingnote
                          name="ctrlMeetingnote"
                          type="text"
                          placeholder="Notes"

                          [ngModel]="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingNote"
                          (ngModelChange)="this.WorkWithDevicesMeeting_Meeting_Section_General_data.MeetingNote = $event;   "
                          ngDefaultControl
                          [attr.readonly]="(false || (this.Mode == 'DLT'))"
                          area="field"
                        >
                        </gx-edit>

                    </gx-form-field>

                  </gx-table-cell>


                </gx-table>

            </gx-table-cell>


          </gx-table>

      </div>
      <gx-button
        #ctrlButtonupdate
        name="ctrlButtonupdate"
        (click)="callAction( this._Update); $event.stopPropagation()"
        ngClass='Button'
        [disabled]="_actionsEnabled | default:true | not"
        image-position=""
        slot="high-priority-action"
        *ngIf="showAsCard"
      >
        {{translate('GXM_update')}}
      </gx-button>
      <gx-button
        #ctrlButtondelete
        name="ctrlButtondelete"
        (click)="callAction( this._Delete); $event.stopPropagation()"
        ngClass='Button'
        [disabled]="_actionsEnabled | default:true | not"
        image-position=""
        slot="high-priority-action"
        *ngIf="showAsCard"
      >
        {{translate('GX_BtnDelete')}}
      </gx-button>
    </gx-card>
  </section>
